<%- include('../layout/_head', {title: 'News', inner: true}) %>
    <%- include('../layout/_header', {withNav: true}) %>
	<h1 class="news-title">Development process at Bitworks</h1>
	<div class="news-detail">
		<div class="news-item__date">Oct 30, 2017</div>
		<div class="news-item__authors">Valentin Rakhimov, Maxim Khomich, Pavel Rastopyrov</div>
		<div class="news-item__tags icon-tag"><a href="#">Development process</a>, <a href="#">Agile</a>, <a href="#">Scrum</a>, <a href="#">PMI</a></div>
		<div class="text">
			<p>At Bitworks, we develop scalable highly available comprehensive software systems. Each project is unique in its own way, and the criteria of the product quality differ significantly from case to case. Moreover, quality is a relative concept: customers, developers and end users may have different expectations from the product, and it is very important to achieve common understanding and agreement among all stakeholders.</p>
			<p>In order to always create products that meet the universally accepted quality standards, provide the most appropriate solutions for the problem, while meeting the expectations of all stakeholders, we identified a number of high-level ideals which we rely on to build and use an effective development process.</p>
			<p>The Scrum framework is used as the foundation for the development process at Bitworks, however, as the project grows, depending on the customer’s requirements, domain specificity, available resources, and other factors, this process is adjusted to achieve maximum efficiency and ensure compliance with the ideals that we identified.</p>
			<p>In order to familiarize readers of our blog with the development process in Bitworks and the decisions we take to optimize it (and most importantly, the reasons behind them), we have decided to publish a series of articles, in which we are going to tell you in detail about the approach we use for development of software systems by using one of our projects as an example.</p>
			<p>In this series of articles we would like to tell about:</p>
			<ul>
				<li>High-level ideals and generally accepted standards, which determine not only the development process, but also the functioning of the company as a whole.</li>
				<li>Key stages of the development process, connections between them, their nuances and possible alternative approaches to their organization.</li>
				<li>Participants and other stakeholders of the development process, and how the mutual agreement of their needs is achieved.</li>
				<li>Technical and methodological features of the development process organization, which ensure the harmonious interaction of all its individual components.</li>
			</ul>
			<p>At Bitworks, we develop scalable highly available comprehensive software systems. Each project is unique in its own way, and the criteria of the product quality differ significantly from case to case. Moreover, quality is a relative concept: customers, developers and end users may have different expectations from the product, and it is very important to achieve common understanding and agreement among all stakeholders.</p>
			<p>In order to always create products that meet the universally accepted quality standards, provide the most appropriate solutions for the problem, while meeting the expectations of all stakeholders, we identified a number of high-level ideals which we rely on to build and use an effective development process.</p>
			<p>The Scrum framework is used as the foundation for the development process at Bitworks, however, as the project grows, depending on the customer’s requirements, domain specificity, available resources, and other factors, this process is adjusted to achieve maximum efficiency and ensure compliance with the ideals that we identified.</p>
			<p>In order to familiarize readers of our blog with the development process in Bitworks and the decisions we take to optimize it (and most importantly, the reasons behind them), we have decided to publish a series of articles, in which we are going to tell you in detail about the approach we use for development of software systems by using one of our projects as an example.</p>
			<p>In this series of articles we would like to tell about:</p>
			<ul>
				<li>High-level ideals and generally accepted standards, which determine not only the development process, but also the functioning of the company as a whole.</li>
				<li>Key stages of the development process, connections between them, their nuances and possible alternative approaches to their organization.</li>
				<li>Participants and other stakeholders of the development process, and how the mutual agreement of their needs is achieved.</li>
				<li>Technical and methodological features of the development process organization, which ensure the harmonious interaction of all its individual components.</li>
			</ul>
		</div>
	</div>
	<%- include('../layout/_footer.ejs', {withNav: true}) %>
<%- include('../layout/_foot.ejs') %>