<%- include('../layout/_head', {title: 'News', inner: true}) %>
    <%- include('../layout/_header', {withNav: true}) %>
	<h1>White papers</h1>
	<div class="papers">
		<a href="papers_detail.html" class="papers-item fadeDown show-anim">
			<div class="papers-item__image" style="background-image: url('i/papers.jpg');"></div>
			<h3 class="papers-item__title">Network Traffic Analysis</h3>
		</a>
		<a href="papers_detail.html" class="papers-item fadeDown show-anim">
			<div class="papers-item__image" style="background-image: url('i/papers.jpg');"></div>
			<h3 class="papers-item__title">Network Traffic Analysis, Aggregation, Anomaly Detection and Prediction With Apache Kafka, Apache Spark and InfluxDB</h3>
		</a>
		<a href="papers_detail.html" class="papers-item fadeDown show-anim">
			<div class="papers-item__image" style="background-image: url('i/papers.jpg');"></div>
			<h3 class="papers-item__title">Network Traffic Analysis, Aggregation, Anomaly Detection</h3>
		</a>
		<a href="papers_detail.html" class="papers-item fadeDown show-anim">
			<div class="papers-item__image" style="background-image: url('i/papers.jpg');"></div>
			<h3 class="papers-item__title">Network Traffic Analysis, Aggregation, Anomaly Detection and Prediction With Apache Kafka, Apache Spark and InfluxDB</h3>
		</a>
		<a href="papers_detail.html" class="papers-item fadeDown show-anim">
			<div class="papers-item__image" style="background-image: url('i/papers.jpg');"></div>
			<h3 class="papers-item__title">Network Traffic Analysis, Aggregation, Anomaly Detection and Prediction With Apache Kafka, Apache Spark and InfluxDB</h3>
		</a>
		<a href="papers_detail.html" class="papers-item fadeDown show-anim">
			<div class="papers-item__image" style="background-image: url('i/papers.jpg');"></div>
			<h3 class="papers-item__title">Network Traffic Analysis, Aggregation, Anomaly Detection and Prediction With Apache Kafka, Apache Spark and InfluxDB</h3>
		</a>
	</div>
	<div class="pagination clearfix"><a href="#" class="pagination__item pagination__prev icon-page-prev">Back</a><a href="#" class="pagination__item pagination__next icon-page-next">Next</a></div>
	<%- include('../layout/_footer.ejs', {withNav: true}) %>
<%- include('../layout/_foot.ejs') %>