.main-about{
	padding: 90px 0px 85px;

	@media (--tablet-v) {
		padding: 44px 0px 25px;
	}

	.mobile-hidden{

		@media (--tablet-v) {
			display: none;
		}
	}
	p{
		max-width: 894px;
	}
	h3.title{
		margin-bottom: 50px;

		@media (--tablet-v) {
			font-size: 20px;
			line-height: 21px;
			margin-bottom: 32px;
		}

		@media (--mobile-lg) {
			font-size: 17px;
		}
	}
	.news-item__more{
		margin-top: 6px;
		display: inline-block;
		margin-bottom: 15px;
	}
}
	.about-advantages{
		width: 100%;
		margin-bottom: 24px;
	
		@media (--tablet-v) {
			margin-bottom: 12px;
		}
		
		@media (--mobile-lg) {
			margin-bottom: 0px;
		}

		&__item{
		    position: relative;
		    margin-right: 25px;
		    display: inline-block;
		    vertical-align: top;
		    width: calc( 100% / 3 - 23px );

		    @media (--tablet-v) {
		    	margin-right: 12px;
		    	width: calc( 100% / 3 - 12px );
		    }

		    @media (--mobile-lg) {
		    	width: 100%;
		    	margin-right: 0;
		    	margin-bottom: 37px;
		    	max-width: 400px;
		    }

			&:last-child{
				margin-right: 0px;
			}

			&-image{
				position: absolute;
				left: 0px;
				top: 0px;

				@media (--tablet-v) {
					max-width: 40px;
				}

				@media (--mobile-lg) {
					top: 50%;
    				margin-top: -20px;
    				max-width: 36px;
				}
			}	

			p{
				padding-left: 84px;
				line-height: 22px;

				@media (--tablet-v) {
					padding-left: 60px;
				}

				@media (--mobile-lg) {
			    	margin-bottom: 0px;
			    	line-height: 16px;
			    	padding-left: 55px;
			    }
			}
		}
	}