.main-contacts{
	color: #FFF;

	h2.title{
		margin-bottom: 28px;

		@media (--mobile-md) {
			margin-bottom: 14px;
		}
	}
	h3.subtitle{
		margin-bottom: 36px;

		@media (--mobile-lg) {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 30px;
		}

		&:hover{
			text-decoration: underline;
		}
	}
	.copyright{
		position: absolute;
		right: 55px;
		bottom: 44px;
		font-size: 16px;
		line-height: 20px;
		font-family: ProximaNova-Regular;

		@media (--mobile-lg) {
			bottom: 0px;
		}
		@media (--mobile-md) {
			position: relative;
			left: 0px;
			top: 0px;
		}
	}
}
.addresse{
	margin-bottom: -44px;

	@media (--mobile-lg) {
		margin-bottom: 0px;
	}

	.addresse-item{
		font-size: 16px;
		line-height: 19px;
		display: inline-block;
		vertical-align: top;
		margin-right: 70px;
		margin-bottom: 44px;

		&:last-child{
			@media (--mobile-lg) {
				margin-bottom: 0px;	
			}
			@media (--mobile-md) {
				margin-bottom: 44px;	
			}
		}

		&:last-child{
			margin-right: 0px;
		}
		&__country{
			margin-bottom: 8px;
		}
		&__city{
			font-family: "Calibri-Bold";
			font-size: 22px;
			line-height: 27px;
			margin-bottom: 6px;
		}
		&__addr{
			margin-bottom: 14px;
		}
		&__phone{
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
}