.main-indust{

}
	.indust-cont{

	}
	.indust-thumbs{
	    width: calc( 50% - 10px );
	    float: left;
	    padding-top: 21px;
	    margin-bottom: -50px;
	    position: relative;

	    @media (--tablet-md) {
			width: calc( 55% - 10px );
		}

		@media (--tablet-v) {
			width: calc( 50% - 10px );
			margin-bottom: -35px;
		}

		@media (--mobile-lg) {
			display: none;
		}

		&__hover{
			position: absolute;
			left: 0px;
			top: 0px;
			background: #EEEEEE;
			box-shadow: 0 2px 14px 0 rgba(0,0,0,0.10);
			z-index: 1;
			-webkit-transition: all 150ms ease-out;
			   -moz-transition: all 150ms ease-out;
			    -ms-transition: all 150ms ease-out;
			   	 -o-transition: all 150ms ease-out;
					transition: all 150ms ease-out;
		}
		&__item{
			z-index: 2;
			padding-right: 1px;
		    position: relative;
		    display: inline-block;
		    vertical-align: top;
		    margin-right: 16px;
		    margin-bottom: 50px;
		    width: calc(100% / 3 - 14px);

			@media (--tablet-v) {
				width: calc(50% - 10px);
				margin-bottom: 30px;
			}

			&.active{
				color: #00AEEF;
			}
			&:nth-child(3n){
				margin-right: -2px;

				@media (--tablet-v) {
					margin-right: 16px;
				}
			}
			&:nth-child(2n){
				@media (--tablet-v) {
					margin-right: -2px;
				}
			}


		}
		&__item-img{
			position: absolute;
			left: 0px;
			top: 0px;
			font-size: 37px;

			&.icon-cloud{
			    top: 5px;
				font-size: 33px;
			}
			&.icon-plus{
				font-size: 37px;
			}
			&.icon-bag{

			}
			&.icon-truck{

			}
			&.icon-megaphone{
			    top: -7px;
				font-size: 43px;
			}
			&.icon-money{

			}
			&.icon-settings{
			    font-size: 38px;
				top: 1px;
			}
		}
		&__item-title{
			padding-top: 53px;
			font-size: 18px;
			line-height: 22px;
			font-family: ProximaNova-Bold;

			@media (--tablet) {
				font-size: 16px;
			}
		}
	}
	.indust-slider{
		width: calc( 50% - 10px );
		float: right;
		margin-top: 18px;

		@media (--tablet-md) {
			width: calc( 45% - 10px );
		}

		@media (--tablet-v) {
			width: calc( 50% - 10px );
		}

		@media (--mobile-lg) {
			width: calc(100% + 40px);
			padding-bottom: 40px;
			margin-top: 0;
			margin: 0px -20px;
			float: left;
		}

		.slick-list{
			@media (--mobile-lg){
				overflow: visible !important;
			}
		}

		&__item{
			position: relative;
			padding: 0px 20px;

			&-back{
				font-size: 120px;
				opacity: 0.06;
				color: #000000;
				position: absolute;
				left: 10px;
				top: -15px;
			}
				&-back:before{
					
				}
			&-title{
				font-family: ProximaNova-Bold;
				font-size: 25px;
				line-height: 30px;
				margin-bottom: 20px;

				@media (--mobile-lg) {
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 25px;
				}
			}
			&-text{
				font-size: 18px;
	    		line-height: 23px;
				max-width: 484px;

				@media (--tablet-v) {
					font-size: 16px;
				}
				@media (--mobile-md) {
					font-size: 14px;
				}
			}
		}
	}